@use 'helpers/index' as *;
@use './variables' as *;

body {
  font-family: $font-main;
  color: $text-color;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-block: 80px;

  @include mobile {
    gap: 11px;
    margin-top: 37px;
  }
  @include tablet-s {
    padding-bottom: 62px;

  }
}

h1, .h1 {
  font-size: 58px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 138%;

  @include tablet-s {
    font-size: 28px;
  }
}

h2, .h2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 150%;
  margin: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: $transition-duration;
}

button {
  background-color: inherit;
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}
