@use 'helpers/index' as *;
@use './variables' as *;

body {
  font-family: $font-main;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  background-color: inherit;
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}
