@use 'helpers/index' as *;
@use './variables' as *;

body {
  font-family: $font-main;
  color: $text-color;
}

h1, .h1 {
  font-size: clamp(28px, 2vw, 58px);
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 72.5%;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: $transition-duration;
}

button {
  background-color: inherit;
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}
