@use 'helpers/index' as *;

$font-main: 'Montserrat', sans-serif;
$font-secondary: "OpenSans", sans-serif;

$primary-color: #FF685B;
$text-color: #252B42;
$light-text-color: #FFFFFF;
$second-text-color: #737373;
$black-color: #000000;

$inline-padding: 10px;
$container: 1046px;
$transition-duration: 0.2s;